<div th:fragment="header">
    <nav class="topbar">
        <div class="brand">Filiera Agricola</div>
        <ul class="nav">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/marketplace}">Marketplace</a></li>
            <li><a th:href="@{/social}">Social</a></li>
            <li><a th:href="@{/mappa}">Mappa</a></li>
            <li class="auth">
                <a th:href="@{/login}">Login</a>
                <a class="btn-outline" th:href="@{/register}">Registrati</a>
            </li>
        </ul>
    </nav>
</div>
