<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filiera Agricola - Home</title>
</head>
<body>
<h1>Benvenuto nella piattaforma Filiera Agricola</h1>

<form action="/registrazione" method="get">
    <button type="submit">Registrati</button>
</form>

<form action="/login" method="get">
    <button type="submit">Login</button>
</form>

<form action="/jwt-login" method="get">
    <button type="submit">Login con Token</button>
</form>



<form action="/marketplace" method="get">
    <button type="submit">Visualizza Marketplace</button>
</form>

<form action="/mappa" method="get">
    <button type="submit">Mappa</button>
</form>

<form action="/social" method="get">
    <button type="submit">Social</button>
</form>
</body>
</html>
