<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Login JWT</title></head>
<body>
<h2>Login con Token</h2>

<form action="/jwt-login" method="post" th:object="${utente}">
    <label>Username: <input type="text" th:field="*{username}" /></label><br>
    <label>Password: <input type="password" th:field="*{password}" /></label><br>
    <label>Ruolo:
        <select th:field="*{ruolo}">
            <option th:each="r : ${T(unicam.filiera_agricola_2425.models.Ruolo).values()}"
                    th:value="${r}" th:text="${r}"></option>
        </select>
    </label><br><br>
    <button type="submit">Login</button>
</form>

<p th:if="${errore}" th:text="${errore}" style="color:red;"></p>

</body>
</html>
